name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

env:
  TF_VERSION: 1.10.3

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false
          fetch-depth: 0
      - uses: super-linter/super-linter@v8.3.2
        env:
          DEFAULT_BRANCH: main
          DISABLE_ERRORS: true
          VALIDATE_ALL_CODEBASE: true
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  tfsec:
    name: Static Analysis
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false
      - uses: aquasecurity/tfsec-action@v1.0.3
        with:
          soft_fail: true

  validate:
    name: Validation
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false
      - uses: hashicorp/setup-terraform@v3.1.2
        with:
          terraform_version: ${{ env.TF_VERSION }}
      - run: terraform init -backend=false
      - run: terraform validate
      - run: terraform fmt -list -diff -recursive -check

  # drift:
  #   name: Drift Detection
  #   runs-on: ubuntu-24.04
  #   defaults:
  #     run:
  #       working-directory: core
  #   environment:
  #     name: core
  #   needs:
  #     - tfsec
  #     - validate
  #   steps:
  #     - uses: actions/checkout@v6.0.1
  #       with:
  #         persist-credentials: false
  #     - uses: hashicorp/setup-terraform@v3.1.2
  #       with:
  #         cli_config_credentials_hostname: app.terraform.io
  #         cli_config_credentials_token: ${{ secrets.TERRAFORM_TOKEN }}
  #         terraform_version: ${{ env.TF_VERSION }}
  #     - run: terraform init
  #     - run: |
  #         terraform refresh -var-file=env/core.tfvars
  #         terraform plan -var-file=env/core.tfvars -out=core.tplan -detailed-exitcode
  #       env:
  #         DIGITALOCEAN_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
  #         CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
  #     - run: |
  #         find . -type f -name "*.tfplan" -print -delete;
  #         find . -type d -name ".terraform" -print -prune -exec rm -rf {} +;
